<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);">
  <div class="container">
    <h1>Save any kind of movies</h1>
    <p>Classic</p>
  </div>
</div>

<div class="container my-3">
  <div class="row">
      <div class="col-12 d-flex justify-content-end">
        <%= link_to "Create a movie list", new_list_path, class: "btn btn-flat" %>
      </div>
  </div>
  <div class="row">
    <% @lists.each do |list| %>
      <div class="col-4">
        <% if list.photo.attached? %>
          <% photo_url = cl_image_path("#{list.photo.key}.jpg") %>
        <% else %>
          <% photo_url = "https://images.unsplash.com/photo-1542204165-65bf26472b9b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80" %>
        <% end %>
        <div class="card-category my-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= photo_url %>);">
          <%= link_to list.name, list_path(list) %>
        </div>
      </div>
     <% end %>
  </div>
  <div class="row">
  </div>
</div>
