<%= simple_form_for [list, bookmark] do |f| %>
  <%= f.association :movie, input_html: { data: { controller: "tom-select" }} %>
  <%= f.input :comment %>
  <div class="modal-footer">
    <%= f.submit %>
  </div>
<% end %>
